@import "tailwindcss";

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gris: #f3f2f2;
  --amarillokgc: #EDD82D;
  --amarillokgc-hover: #d4c227;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-size {
  width: 98%;
  height: 97%;
  background-color: var(--gris);
}

.gris {
  background-color: var(--gris);
}

.amarillokgc {
  background-color: var(--amarillokgc);
}

.bordeamarillokgc {
  border-color: var(--amarillokgc);
}

.amarillokgc:hover {
  background-color: var(--amarillokgc-hover);
}

/* Ocultar el título y el nombre de usuario en pantallas pequeñas */
@media (max-width: 767px) {
  .hide-on-small {
    display: none;
  }
}



.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal-content {
  color: black; /* Asegúrate de que el texto sea visible */
}


/* Evitar deslizamiento horizontal en dispositivos móviles */
@media (max-width: 767px) {
  .overflow-x-hidden {
    overflow-x: hidden;
  }

  table {
    table-layout: fixed;
  }

  th, td {
    word-wrap: break-word;
  }
}